body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.cards {
    border: 1px solid red;
    height: 500px;
    padding-top: 20px;
}

.card {
    border: 1px solid #ccc;
    width: 20%;
    height: 100px;
    line-height: 100%;

    text-align: center;
    font-size: 3em;
    background-color: #ccc;
    float: left;

    margin-left: 4%;
    margin-bottom: 20px;

    transition: width .2s ease, height .2s ease;
}

.card:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -0.25em;
}

.card .card-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.card:hover {
    background-color: #ccc;
    width: 92%;
    height: 460px;
    position: fixed;
    top: 20px;
}
